---

import { getCollection } from 'astro:content';
import BlogLayout from '../../layouts/BlogLayout.astro';


export async function getStaticPaths() {
  const posts = await getCollection('blog');
  
  return posts.map((post) => {
    // Keep the full slug as a string
    return {
      params: { slug: post.slug }, // Just pass the string
      props: { post },
    };
  });
}

export const prerender = true
const { post } = Astro.props;
const { Content } = await post.render();
---

<BlogLayout title={post.data.title} description={post.data.description}>
  <article class="blog-post">
    <header>
      <h1>{post.data.title}</h1>
      <p>{post.data.description}</p>
      <time datetime={post.data.date}>{new Date(post.data.date).toLocaleDateString('en-GB', {
        day: '2-digit',
        month: '2-digit',
        year: 'numeric'
      })}</time>
    </header>
  <Content />
  </article>
</BlogLayout>
<style is:global>
  .blog-post {
    max-width: 800px;
    margin: auto;
    padding: 1rem;
  }
  
  .blog-post header {
    margin-bottom: 1.5rem;
  }
  
  .blog-post h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .blog-post p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .blog-post time {
    font-size: 0.9rem;
    color: gray;
  }

  .blog-post img {
    border-radius: 8px;
    margin-bottom: 1.5rem;
    width: 100%;
    height: auto;
    aspect-ratio: attr(width) / attr(height); /* Uses image's natural ratio */
    object-fit: cover; /* Ensures no distortion */
  }
    .video-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 Aspect Ratio (9 / 16 = 0.5625) */
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .video-container * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
    }

    .container {
      gap: 1em;
    }

    .container img {
      width: 100%;
    }

    .astro-code {
      padding: 1em;
    }

</style>