---
interface Props {
    file?: string
    url?: string
    img?: string
    title?: string
    date: string
    role?: string
    excerpt?: string
}

const {file="#", url = '#', img = '/images/common/placeholder.jpg', title = 'Default title', excerpt = 'Your name', date="2025-01-01", role="Solo Project" } = Astro.props

const img_path = "/images/content/" + file.replace(".md", "") + "/" + img;

const url_path = "/portfolio/" + url;
---

<a href={url_path} class="post-card">
    <img src={img_path} alt={title}/>
    <div id="info">
        <h1>
            {title}
        </h1>
        <h2>
            {date.split("-")[0]} | {role}
        </h2>
        <p>
            {excerpt}
        </p>
    </div>
</a>
<style is:global>
    .post-card {
        margin: 1ex;
        position: relative;
        width: calc(45vh);
        min-width: calc(25% - 2vh);
        aspect-ratio: 1;
        margin-bottom: 0.5vw;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 1ex;
        transition: transform 0.35s, box-shadow 0.35s;
        cursor: pointer;
    }

    .post-card img {
        position: absolute;
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 1ex;
        transition: opacity 0.5s;
    }

    .post-card #info {
        position: absolute;
        border-radius: 1ex;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        opacity: 0.0;
        color: var(--primary-100);
        background-color: var(--light-900);
        transition: opacity 0.35s;
        text-align: center;
    }

    .post-card:hover {
        transform: scale(105%);
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    }

    .post-card:hover img {
        opacity: 0.0;
    }

    .post-card:hover #info {
        opacity: 1.0;
    }

</style>