---
const { title, description, author, keywords } = Astro.props
---

<!-- general meta -->
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content={author} />
<meta name="keywords" content={keywords}/>

<!-- open graph -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />

<!-- page title -->
<title>{title}</title>


<!-- Analytics and Search -->
<meta name="google-site-verification" content="3n3NZxtlqeEKVfpeHk0ImxvI0KcK9NXjR7OVzH3AouI" />
