---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import Header from "../../components/Header.astro";
import Card from "../../components/Card.astro";
import Button from "../../components/Button.astro";
import Banner from "../../components/Banner.astro";
import { getCollection } from 'astro:content';

// Paginate the posts
export async function getStaticPaths({ paginate }) {
  const posts = await getCollection('posts');

const sortedPosts = posts.sort((a, b) =>
  new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);

  return paginate(sortedPosts, { pageSize: 1000 });
}

const { page } = Astro.props;

const projects = page.data.filter((post) => post.data.type === 'project');
const films = page.data.filter((post) => post.data.type === 'film');
const other = page.data.filter((post) => post.data.type === 'other');
---

<DefaultLayout
  title="Portfolio"
  description="A collection of my best works."
>
  <Header/>
  <Banner title="Portfolio" img="/images/common/banner_portfolio.jpg"/>
  <div id="content">
    <section class="my-12">
      <h1> PROJECTS </h1>
      <div class="container">
          {
            projects.map((post) => (
                <Card
                  file={post.id}
                  url={
                    post.data.title.replaceAll(" ", "_").toLowerCase()
                  }
                  title={post.data.title}
                  date={post.data.date}
                  role={post.data.role}
                  img={post.data.img}
                  excerpt={post.data.excerpt}
                >

                </Card>
            ))
          }
      </div>
    </section>
    <!--<section class="my-12">
      <h1> FILMS </h1>
      <div class="container">
          {
            films.map((post) => (
                <Card
                  file={post.id}
                  url={
                    post.data.title.replaceAll(" ", "_").toLowerCase()
                  }
                  title={post.data.title}
                  date={post.data.date}
                  role={post.data.role}
                  img={post.data.img}
                  excerpt={post.data.excerpt}
                >
                </Card>
            ))
          } 
      </div>
    </section> -->
    <section class="my-12">
      <h1> OTHER </h1>
      <div class="container">
          {
            other.map((post) => (
                <Card
                  file={post.id}
                  url={
                    post.data.title.replaceAll(" ", "_").toLowerCase()
                  }
                  title={post.data.title}
                  date={post.data.date}
                  role={post.data.role}
                  img={post.data.img}
                  excerpt={post.data.excerpt}
                >
                </Card>
            ))
          }
      </div>
    </section>
    <Button text="See More" icon="mdi:artstation" url="https://www.artstation.com/cjhosken"/>
  </div>
</DefaultLayout>
<style>
    #content {
        position: relative;
        z-index: 1;
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
    }

    .my-12 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .my-12 h1 {
      margin: 2ex;
      font-size: 3em;
    }

  .container {
    position: relative;
    margin: 1ex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

</style>